%section{'aurelia-app': ''}
  =javascript_include_tag "js.cookie.min"
  =javascript_include_tag "jspm_packages/system"
  =javascript_include_tag "config"
  =javascript_include_tag "xapiwrapper.min"

  :javascript
    function guid() {
      return s4() + s4() + '-' + s4() + '-' + s4() + '-' +
        s4() + '-' + s4() + s4() + s4();
    }

    function s4() {
      return Math.floor((1 + Math.random()) * 0x10000)
        .toString(16)
        .substring(1);
    }

    if(!Cookies.get('guid')){
      Cookies.set('guid', guid(), { path: '' });
    }

    ADL.XAPIWrapper.changeConfig({
      endpoint: "https://cloud.scorm.com/tc/JC0GVUS6EK/sandbox/",
      user: "llxrGeD-cAxyNGN-SZU",
      password: "fxqwHqxA5tGgkrOao8A"
    });

    System.import('aurelia-bootstrapper').then(bootstrapper => {
      bootstrapper.bootstrap(function(aurelia) {
        aurelia.use
          .standardConfiguration()
          .developmentLogging();

        aurelia.start().then(() => aurelia.setRoot('app', document.body));
      });
    });
